.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;   
    font-family: 'Arial', 'Verdana', sans-serif;
    position: sticky;
    top:0;
  }

  
  .header__left {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .header__center {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  .header__center input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
  }
  
  .header__right .header__icon {
    margin-left: 20px;
    font-size: 24px;
  }
