/* Sidebar.css */
.sidebar {
  width: 250px; /* Ширина бокового меню */
  transition: width 0.3s; /* Плавный переход */
  overflow: hidden;
  background:-webkit-repeating-radial-gradient(top left, circle, rgb(255, 255, 255), rgb(30, 6, 94) 10%, rgb(49, 0, 71) 20%)
}

.sidebar.closed {
  width: 60px; /* Ширина закрытого меню */
}

.sidebar nav {
  display: flex;
  flex-direction: column; 
  padding: 10px;
}

.sidebar nav ul {
  list-style: none; 
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px 0; 
  white-space: nowrap; 
  color: white;
}