.videoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки одинаковой ширины */
  gap: 50px; /* Расстояние между карточками */
}


@media (max-width: 768px) {
  .videoGrid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Меньше колонок на маленьких экранах */
  }
}
